<%- include('partials/header.ejs'); -%>

    <div class="bookdetails">
        <% if(locals.book) {%>
            <div class="bookheading">
                <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="<%= book.name %>">
                <div id="bookinfo">
                    <h1>
                        <%= book.name %>
                    </h1>
                    <h2>
                        <%= book.isbn %>
                    </h2>
                    <h2>
                        <%= book.rating %>
                    </h2>
                    <h2>
                        <%= book.writer %>
                    </h2>
                </div>
                <img src="#" alt="">
            </div>
            <div id="bookdetails">
                <h3>
                    <%= book.detail %>
                </h3>
            </div>
            <% } else {%>
                <h1>No book</h1>
                <% } %>
    </div>
    <%- include('partials/footer.ejs'); -%>